@require 'mixins'

.square
  position: relative
  display: block
  &::after
    content: ''
    padding-bottom: 100%
    display: block
  &__content
    absolute: top left
    width: 100%
    height: 100%

.form-group
  :last-child
    margin-bottom: 0
  >
    input
    textarea
    select
      border: 1px solid blue
      padding: $sm
      width: 100%
      margin-bottom: $xs
      border-radius: rem($radius-xs)

