@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader
  fixed bottom $md left 50%
  box-shadow: $box-shadow
  transform: translateX(-50%)
  z-index: 100
  opacity: 1
  &--out
    opacity: 0
    bottom: 0
    transform: translate(-50% -100%)
  &__icon
    opacity: 1
    animation spin 1s steps(7, end) infinite normal forwards


