@require '../helpers/*'
@require '../library/*'


.message
  fixed bottom $md left 50%
  box-shadow: 0 0 10px alpha(black, .8)
  transform: translateX(-50%)
  z-index: 100
  opacity: 1
  max-width: 80%
  min-width: 60%
  &--out
    opacity: 0
    bottom: 0
    transform: translate(-50% -100%)
  &__icon
    opacity: 1
    animation spin 1s steps(7, end) infinite normal forwards
