@require './components/*'
@require './helpers/*'
@require './library/*'

// General Elements Styling
html
  background: white
  min-height: 100vh
  overflow-x: hidden
  color: black
  max-width: 100vw
  font-family: $font-main, $font-sans
  $scrollbar
  body
    font-family: @font-family
    max-width: @max-width
    min-height: @min-height
    background: white
    overflow-x: hidden
    width: 100vw
    color: black
    $scrollbar
    *
      font-family: @font-family
      line-height: 1.3
      $scrollbar













